.table-bordered {
    color: #000;
    width: 100% !important;
    margin-bottom: 1rem;
    /* color: #525f7f; */
    background-color: transparent;
   
}
tr,td,th{
    padding:12px;
}
button {
    background-color: #f55374; /* Green */
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }